<form [formGroup]="form" (submit)="submit()">
<div class ="col-md-6 offset-md-3">
 
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input formControlName="username" type="text" class="form-control" placeholder="Enter Username" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input formControlName="password" type="password" class="form-control" placeholder="Enter Password" name="psw" required>
          
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" unchecked="checked" name="remember"> Remember me
        </label>
      </div>
      <div class="container-signup">
        <p>Dont have an account? <a href="signup">Sign up</a></p>
      </div>
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="forgotpsw">Forgot <a href="#">password?</a></span>
      </div>
</div> 
</form>
