<div>
    <div class="container-fluid" style="height:100vh">
       <h3 style = "text-align: center">{{flight.origin}}  &nbsp; {{flight.destination}}  &nbsp; {{flight.flightdate}}</h3><br>
       <b><table class="table table-borderless">
            <thead>
            <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Flight Date</th>
                <th>Flight Number</th>


            </tr>
            </thead>
            <tr>
                <td class="align-middle"> {{flight.origin}}</td>
                <td class="align-middle"> {{flight.destination}}</td>
                <td class="align-middle"> {{flight.flightdate}}</td>
                <td>
                <button (click)="toggle()" class ="btn btn-info">Details</button>
                </td>
            </tr>
        </table></b>

        <ng-container *ngIf="show">
            <div class="container" style="margin:0;text-align: center">
                <h6>Price Details</h6>
                <label> Fare </label>
                <textarea readonly>{{flight.fare.fare}}</textarea>
                <h6> Flight Details</h6>
                <label>Flight Number</label>
                <textarea readonly>{{flight.flightId}}</textarea>
                <label> No. of seats</label>
                <textarea readonly>{{flight.inventory.count}}</textarea>
            </div>
        </ng-container>

    <div class="mx-auto position-absolute bottom-0 start-50 translate-middle-x">
        <button (click)="passengerDetails()" class="btn btn-primary align-text-bottom" type="button">Add Passenger Details</button>
    </div>
</div>
