.text-center{
   font-style: oblique;
   color:rgba(53, 6, 86, 0.918);
}
 

 /* .home-bg {
    background-image: url(../assets/image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    
}   */