<form [formGroup]="form" (submit)="submit()">
<h1 style="text-align:center;">Register</h1>
<div class ="col-md-6 offset-md-3">
          <div class="container">
            <label for="name"><b>Name</b></label>
            <input formControlName="name" type="text" class="form-control" placeholder="Enter Username" name="name" required>

            <label for="email"><b>Email</b></label>
            <input  formControlName="email" type="text"  class="form-control" placeholder="Enter Email" name="ename" required>
      
            <label for="psw"><b>Password</b></label>
            <input formControlName="password" type="password"  class="form-control" placeholder="Enter Password" name="psw" required>

            <label for="cpsw"><b>Confirm Password</b></label>
            <input  formControlName="confirmPassword" type="password"  class="form-control" placeholder="Confirm Password" name="cpsw" required>
              
            <button type="submit">Submit</button>
          </div>
</div>
</form>