<div class="col-md-6 offset-md-3">
    <h3>Create Flight</h3>
    <!--<div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->
<form name="cf">
    <form #flightForm="ngForm" (ngSubmit) = "onSubmit()">
    
        <!--<div class="form-group">
            <label> Flight Number</label>
            <input type="text" class ="form-control" id = "flightNumber"
                [(ngModel)] = "flight.flightId" name = "flightNumber">
        </div>-->
    
        <div class="form-group">
            <label> Origin</label>
            <input type="text" required #origin = "ngModel" [class.is-invalid]="origin.invalid && origin.touched" pattern="^[a-zA-Z]{3,15}$" class ="form-control" name = "origin"
                [(ngModel)] = "flight.origin" id="origin" >
            <div *ngIf="origin.errors?.['pattern']; else elseOriginBlock"  class="text-danger"> 
                Origin not valid.
             </div>
             <ng-template #elseOriginBlock>
                <small class="text-danger" [class.d-none]="origin.valid||origin.untouched">Origin is Required</small>
             </ng-template>
        </div>
    
        <div class="form-group">
            <label> Destination</label>
            <input type="text" required #destination = "ngModel" [class.is-invalid]="destination.invalid && destination.touched" pattern="^[a-zA-Z]{3,15}$" class ="form-control" name = "Destination"
                [(ngModel)] = "flight.destination" id="Destination">
            <div *ngIf="destination.errors?.['pattern']; else elseDestBlock"  class="text-danger"> 
                Destination not valid.
             </div>
             <ng-template #elseDestBlock>
                <small class="text-danger" [class.d-none]="destination.valid||destination.untouched">Destination is Required</small>
             </ng-template>
        </div>

        <div class="form-group">
            <label> Flight Date</label>
            <input type="date" min="{{currentDate | date:'yyyy-MM-dd'}}" required #date = "ngModel" [class.is-invalid]="date.invalid && date.touched" class ="form-control" name="flightDate" [(ngModel)] = "flight.flightdate" >
            <small class="text-danger" [class.d-none]="date.valid||date.untouched">Date is Required</small>
        </div>

        <div class="form-group">
            <label> Fare </label>
            <input type="text" required #fare = "ngModel" [class.is-invalid]="fare.invalid && fare.touched" pattern="^[0-90.00-0.90]{4,10}$" class ="form-control" id = "Fare"
                [(ngModel)] = "flight.fare.fare" name = "Fare">
            <div *ngIf="fare.errors?.['pattern']; else elseFareBlock"  class="text-danger"> 
                Fare not valid.
             </div>
             <ng-template #elseFareBlock>
                <small class="text-danger" [class.d-none]="fare.valid||fare.untouched">Fare is Required</small>
             </ng-template>
        </div>

        <div class="form-group">
            <label> Currency </label>
            <input type="text" required #currency = "ngModel" [class.is-invalid]="currency.invalid && currency.touched" class ="form-control" id = "FareCurrency"
                [(ngModel)] = "flight.fare.currency" name = "FareCurrency">
            <small class="text-danger" [class.d-none]="currency.valid||currency.untouched">currency is Required</small>
        </div>
        
        
        <div class="form-group">
            <label> No. of  Seats </label>
            <input type="text" required #seats = "ngModel" [class.is-invalid]="seats.invalid && seats.touched" pattern="^[1-999]{1,4}$" class ="form-control" id = "No.ofSeats"
                [(ngModel)] = "flight.inventory.count" name = "No.ofSeats">
            
           <div *ngIf="seats.errors?.['pattern']; else elseSeatsBlock"  class="text-danger"> 
                 Not valid Number.
             </div>
             <ng-template #elseSeatsBlock>
                <small class="text-danger" [class.d-none]="seats.valid||seats.untouched">Seats is Required</small>
             </ng-template>
        </div>
    
        <button [disabled]="flightForm.form.invalid"  class = "btn btn-success" type ="submit" ng-disabled="cf.origin.$dirty && cf.origin.$invalid"> Submit</button>
</form>
</form>
</div>