<div class="col-md-6 offset-md-3">
    <h3>Update Flight</h3>
<form>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Flight Number</label>
            <input type="text" class ="form-control" id = "flightNumber"
                [(ngModel)] = "flight.flightNumber" name = "flightNumber">
        </div>
    
        <div class="form-group">
            <label> Origin</label>
            <input type="text" class ="form-control" id = "origin"
                [(ngModel)] = "flight.origin" name = "origin">
        </div>
    
        <div class="form-group">
            <label> Destination</label>
            <input type="text" class ="form-control" id = "Destination"
                [(ngModel)] = "flight.destination" name = "Destination">
        </div>
        <div class="form-group">
            <label> Flight Date</label>
            <input type="date" class ="form-control" id="flightDate" [(ngModel)] = "flight.flightDate" name="flightDate">
            
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
</form>
</form>
</div>
