<h2 style="color: rgb(9, 0, 0); font-style:italic;">Flight List</h2>
<b><table class="table table-stripped" >
    <thead style="color:rgb(9, 0, 0); font-size: large;">
        <tr>
            <th>Fight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Flight Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody style="color:rgb(248, 250, 252);">
        <tr *ngFor = "let flight of flights">
            
            <td> {{flight.flightId}} </td>
            <td> {{flight.origin}} </td>
            <td> {{flight.destination}} </td>
            <td> {{flight.flightdate}} </td>
            
            <td>
                <button (click)="updateFlight(flight.flightId)" class ="btn btn-info">Update</button>
                <button (click)="deleteFlight(flight.flightId)" class ="btn btn-danger" style ="margin-left: 10px;">Delete</button>
               <!-- <button (click)="showDialog = !showDialog" class="btn btn-info">Update</button>
                <br>
                <app-dialog [(visible)]="showDialog" title="update flight" data-popup="width:400;hieght:350">
                    <button (click) = "showDialog = !showDialog" class ="btn btn-info">Save
                    </button>

                </app-dialog>-->
            </td>       
        </tr>
    </tbody>
</table>
</b>