<h2 style="color: rgb(9, 0, 0); font-style:italic;">Booking Details</h2>
<b><table class="table table-stripped" style=" height: 100vh">
    <thead style="color:rgb(9, 0, 0); font-size: large;">
        <tr>
            <th>Booking Id</th>
            <th>Booking Date</th>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Flight Date</th>
            <th>Fare</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>status</th>
            <!-- <th>Actions</th> -->
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let passenger of passengers">
            <!-- <div class="row col-auto" *ngFor="let passenger of passengers; let i = index"> -->
            <td> {{book.bookId}}</td>
            <td> {{book.bookingDate}}</td>
            <td> {{book.flight.flightId}}</td>
            <td> {{book.flight.origin}}</td>
            <td> {{book.flight.destination}}</td>
            <td> {{book.flight.flightdate}}</td>
            <!-- <td> {{book.fare}}</td>  -->
            <td> {{book.passenger[0].firstName}}</td>
            <td> {{book.passenger[1].lastName}}</td>
            <td> {{book.passenger[2].gender}}</td>
            <!-- </div> -->

        
        </tr> 
    </tbody>