<h2 style="color: rgb(9, 0, 0); font-style:italic;">Booking Details</h2>
<b><table class="table table-stripped" style=" height: 100vh">
    <thead style="color:rgb(9, 0, 0); font-size: large;">
        <tr>
            <th>Booking Id</th>
            <th>Booking Date</th>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Flight Date</th>
            <th>Fare</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>status</th>
            <!-- <th>Actions</th> -->
        </tr>
    </thead>
    <tbody>
         <tr>
            <td> {{book.bookId}}</td>
            <td> {{book.bookingDate}}</td>
            <td> {{book.flightId}}</td>
            <td> {{book.origin}}</td>
            <td> {{book.destination}}</td>
            <td> {{book.flightdate}}</td>
            <td> {{book.fare}}</td>
            <td> {{book.passenger.firstName}}</td>
            <td> {{book.passenger.lastName}}</td>
            <td> {{book.passenger.gender}}</td>

        
        </tr> 
    </tbody>